{% load i18n %}
{% spaceless %}
<div class="wrapper wrapper--xblock wrapper--flow-control theme--basic">
    <p>This is the base template</p>
    {# <p>The Toc</p> #}
    {# <pre>{{ toc }}</pre> #}
    <p>My grades</p>
    {# <pre>{{ my_grades }}</pre> #}
    <p>Section section_breakdown</p>
    <pre>{{ section_breakdown }}</pre>
    <p>Section grade_breakdown</p>
    <pre>{{ grade_breakdown }}</pre>
    <p>Section totaled_scores</p>
    <pre>{{ totaled_scores }}</pre>
    <p>Section progress_summary</p>
    <pre>{{ progress_summary }}</pre>
</div>
{% endspaceless %}
